RewriteEngine On
#ErrorDocument 404 /noPage.php

RewriteRule ^home$ index.php
RewriteRule ^marAdentro$ marAdentro.php
RewriteRule ^galeria$ galeria.php
RewriteRule ^proyectos$ proyectos.php
RewriteRule ^amenities$ amenities.php
RewriteRule ^contacto$ contacto.php
RewriteRule ^ubicacion$ ubicacion.php
RewriteRule ^gracias$ contacto.php?gracias
RewriteRule ^crystalLagoons$ crystalLagoons.php
RewriteRule ^lotesMarAdentro$ lotes.php

RewriteRule ^proyectos/neiva$ proyectosNeiva.php
RewriteRule ^proyectos/cartagena$ proyectosCartagena.php
RewriteRule ^proyectos/flandes$ proyectosFlandes.php
RewriteRule ^amenities/neiva$ amenitiesNeiva.php